*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: bottom;
}

/* 共通 */
main{
    margin: 0 140px 0 430px; 
    padding: 80px 0;
}

h1{
    font-family: 'Cinzel', serif;
    letter-spacing: 0.2rem;
    font-size: 40px;
    color: #000;    
}

h2, h3, p{
    font-family: 'Cinzel', serif;
    line-height: 1.5;
    margin-bottom: 10px;
}

a{
    color: #000;
    font-family: serif;
    text-decoration: none;
    font-size: 24px;
    line-height: 2;
    text-align: center;
}

li{
    list-style-type: none;
    color: #000;
    font-family: serif;
}

/* content */

.content1{
    position: relative;
    width: 100%;
    height: 200vh;
}

.fixed{
    position: fixed;
    width: 300px;
    height: 100vh;
    background: burlywood;
    top: 0;
    left: 0;
}

.hobby_box{
    margin-top: 160px;
    display: flex;
    justify-content: center;
}

.hobby_content{
    display: flex;
    flex-direction: column;
}

.hobby_box p{
    font-size: 32px;
    width: 120px;
    margin-bottom: 60px;
    border-bottom: 1px solid #000;
    letter-spacing: 0.1rem;
}

.a_skill{
  letter-spacing: 0.3rem;
}

.hobby_content li a{
    font-size: 24px;
    line-height: 2;
    text-align: center;
}

.back{
    position: absolute;
    top: 600px;
    left: 120px;
    text-align: center;
}

.back a{
  font-size: 16px;
}

.stickarrow {
    width: 80px;
    height: 8px;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    transform: skew(-45deg);
  }

  /* main */

#job,
#skill{
    padding: 70px;
}

  .title_box{
    display: flex;
    align-items: baseline;
    margin: 80px 0;
    border-bottom: 1px solid #000;
  }

  .title_box p{
    margin-left: 40px;
    letter-spacing: 0.2rem;
  }

  .text_box{
    display: flex;
    justify-content: center;
  }

  .box{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px 0;
  }

  .date_box{
    width: 100px;
  }

  .content_box{
    width: 500px;
  }

  .content1 ul{
    margin-top: 40px;
  }


  /* スキル */

  .skill_area{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  .skill_set h3{
    text-align: center;
    margin-top: 10px;
  }

  .skill_set {
    text-align: center;
  }

  .skill_box{
    display: flex;
    justify-content: space-around;
    width: 80%;
  }

  .skill_content{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: burlywood;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.apri{
    font-size: 24px;
    font-weight: bold;
}

.last{
    text-align: center;
}